<!DOCTYPE html>
<html>
  <head>
    <title>Bike Selling Website</title>
    <link rel="stylesheet" href="index.css"/>
  </head>
  <body>
    <header>
      <nav class="navbar center">
        <ul>
          <li><a href="/"class="navbar-link">Home</a></li>
          <li><a href="/login" class="navbar-link">Login</a></li>
          <li><a href="/register" class="navbar-link">Register</a></li>
          <li><a href="/contact" class="navbar-link">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to Bike Selling Website</h1>
      <p>Find your perfect bike today!</p>
      <a href="/bikes">View Bikes</a>
    </main>
    <footer>
      <p>&copy; 2023 Bike Selling Website</p>
    </footer>
  </body>
</html>